<form role="form" class="signUp" id="signUp">
	<a href="#" class="addPicture"><img src="images/user.png" class="signupImg"></a>
	<!--<img src="images/userSignupCamera.png" class="signupImg"> add this when loading-->
	<div class="form-group">
		<input type="text" class="form-control" id="inputName" ng-model="name" placeholder="Name">
	</div>
	<div class="form-group">
		<input type="email" class="form-control" id="inputEmail" ng-disabled="!is_signup" ng-model="email" placeholder="Email">
	</div>
	<div class="form-group">
		<input type="code" class="form-control" id="inputCode" ng-model="code" placeholder="Code">
	</div>
	<button type="button" ng-click="signup()" ng-show="is_signup" class="signUp">Sign Up</button>
    <button type="button" ng-click="update()" ng-hide="is_signup" class="signUp">Update</button>
</form>
<div class="termsPrivacy">
	By creating an account you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
</div>
<a href="#home" class="back">Back</a>