<form role="form" class="signUp" id="signUp">
	<a href="#" class="addPicture"><img src="images/user.png" class="signupImg"></a>
	<!--<img src="images/userSignupCamera.png" class="signupImg"> add this when loading-->
	<div class="form-group">
		<input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="name">
	</div>
	<div class="form-group">
		<input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-disabled="!isSignedUp" ng-model="email">
	</div>
	<div class="form-group">
		<input type="code" class="form-control" id="inputCode" placeholder="Code" ng-model="code">
	</div>
	<button type="submit" class="signUp" ng-click="signUp()" ng-show="isSignedUp">Sign Up</button>
    <button type="button" class="signUp" ng-click="updateProfile()" ng-hide="isSignedUp">Update Profile</button>
</form>
<div class="termsPrivacy">
	By creating an account you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
</div>
<a href="#" class="back">Back</a>